body {
    background-color: white;
    background-attachment: fixed;
    padding-top: 60px;
}

div.profile {
    background-color: white;
    margin-bottom: 15px;
}

.avatar {
    border-radius: 50%;
    float: left;
    margin-bottom: 20px;
}

.background {
    background-color: white;
}

h3 {
    margin-left: 17px;
    margin-bottom: 10px;
}

p {
    position: relative; 
	left: 20px;
}

.edit {
    position: relative;
    left: 37px;
}

h2 {
    font-size: 40px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: bold;
    margin-top: 10px;
}
.table {
    margin-top: 20px;   
}

.thead-custom {
    background-color: rgb(15, 15, 80);
    color: white;
}


