.bg {
    background: linear-gradient(180deg, rgb(15, 15, 80), rgb(85, 87, 196));
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100vw;

    position: fixed;
}

.submitForm {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-left: 390px;
    margin-right: 390px;
    background-color: white;
    padding: 30px 0px;
}

.title {
    color: rgb(15, 15, 80);
    font-size: 60px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: bold;
}

.desc {
    padding: 7px 0px;
    font-size: 20px;
    color: #231380;
}

input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgb(223, 223, 223);
}

input[type=password] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgb(223, 223, 223);
}

.login {
    background-color: #231380;
    border: none;
    color: white;
    padding: 12px 125px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: bold;
}

